/* ==========================================================================
	IE8
============================================================================= */

.lt-ie9,
.ie8 {
$width: 225px;

    .page-sidebar {
        position: absolute;

        &,
        ul {
            width: $width;
        }
    }

    .page-content {
        margin-left: $width;
        margin-top: 0;
    }
}