/* ==========================================================================
	Dividers
============================================================================= */

hr {

	&.faded {
		border: 0;
		height: 1px;
		margin: 20px 0;
		//@include faded(rgba(0,0,0,0), rgba(0,0,0,0.20), rgba(0,0,0,0));
	}

	&.short {
		margin: 11px 0;
	}

	&.tall {
		margin: 44px 0;
	}

	&.taller {
		margin: 66px 0;
	}
}