/* ==========================================================================
    Modal
============================================================================= */

.modal {
    @include border-radius(3px);
    z-index: $top-z-index;

    fieldset {

        .content-inner {
            padding: 10px;
        }
    }

    .content-footer {
        margin-top: 15px;

        input[type=submit],
        button[type=submit],
        a.btn-success,
        .btn-next {
            margin-left: 15px;
        }
    }
}
.modal-header {
    position: relative;

    .modal-title {
        font-weight: 500;
        padding-left: 15px;
    }

    .close {
        color: $body-color;
        float: none;
        font-size: 0;
        margin: 0;
        padding: #{$body-font-size*1.4};
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            @include font-awesome-icon;
            content: "\f00d";
            font-size: #{$body-font-size*1.2};
            font-weight: 400;
        }
    }

    p {
        color: #8b91a0;
        margin-bottom: 0;
        padding-left: 15px;
    }
}
.modal-footer {
    @include box-shadow(none);
    background-color: #f3f5f6;
    border-top: none;
    margin-top: 0;

    .btn {
        margin: 5px 0 5px 10px!important;
        padding: 10px 16px;
    }
}