/* ==========================================================================
	Search
============================================================================= */

.search-count {
	margin-top: 10px;
	text-align: right;
}
.search-results {
	border-top: 1px solid $lighter;
	padding-top: 20px;
}
.search-no-headline {
	margin-top: 39px;
}